<nav *ngIf="categories" class="navbar-light py-2" style="background-color: rgba(0, 0, 255, 0.25); border-bottom: 2px black solid;">
    <a *ngFor="let category of categories.entities" class="navbar-brand mx-5" style="margin: auto;" routerLink="/categories/{{category.name}}">{{category.name | uppercase}}</a>
</nav>

<div *ngIf="category" class="container text-center">
<h1 class="my-3">{{category.name | uppercase}}</h1>
<div class="product-grid" *ngIf="category">
    <div class="product-card" *ngFor="let product of products" (click)="goProductDetails(product.id)">
      <img [src]="imageUrl+product.images[0].imageId+product.images[0].fileExtension" [alt]="product.name">
      <div class="product-info" style="margin-top: auto; line-height: 5;">
        <h2>{{ product.name }}</h2>
        <p>{{ product.price }} kr.</p>
      </div>
    </div>
  </div>
</div>