<nav *ngIf="categories.count > 0" class="navbar-light py-2" style="background-color: rgba(0, 0, 255, 0.25); border-bottom: 2px black solid;">
    <a *ngFor="let category of categories.entities" class="navbar-brand mx-5" style="margin: auto;" routerLink="categories/{{category.name}}">{{category.name | uppercase}}</a>
</nav>
<nav *ngIf="serverError" class="navbar-light py-2 text-center" style="background-color: rgba(250, 4, 4, 0.25); border-bottom: 2px black solid;">
    <p style="margin: auto;">SERVER ISSUES... PLEASE WAIT!!!</p>
</nav>
<div style="background-color: rgba(0, 0, 255, 0.2);">
<div class="container d-flex justify-content-center flex-column text-center">

    <div class="mt-2 bannerdiv" style="margin: auto; width: 95%; background-color: black;">
        <div>
            <img src="assets/announce1.jpg" width="815px">
            <img src="assets/announce2.jpg" width="400px">
        </div>    
    </div>

    <div class="mt-5 producediv" style="margin: auto; width: 95%;"><h2 style="background-color: rgba(0, 0, 0, 0.5); color: white; padding: 10px; border-radius: 10px;">Check these products out!</h2>
        <div>
            <h1><img src="assets/produce1.png" width="600px"></h1>
        </div>
    </div>

    <div class="mt-5" style="margin: auto; width: 95%;"><h2 style="background-color: rgba(0, 0, 0, 0.5); color: white; padding: 10px; border-radius: 10px;">A lil info about us</h2>
        <div>
            <h1><img src="assets/reklame1.png" width="900px"></h1>
        </div>
    </div>    

</div>
</div>