img {
    height: 150px;
    width: 150px;
   }


.profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

   .profile button {
    width: 20%;
   }

.divs {
    background-color: rgba(27, 13, 59, 0.2);
    border-radius: 5%;
}

